:root{
    --azul_sso: #00519d;
    --rojo_sso: #e10109;

}
/*Para cualquier que requiera color azul*/
.colorAzul {
    color: var(--azul_sso) !important;
}

/*Para cualquier que requiera color azul*/
.colorRojo {
    color: var(--rojo_sso) !important;
}



/*footer*/

.colFooter {
    padding-right: 0px !important;
    padding-left: 0px !important;
}


/*Nav personalizado*/

.colorBotonNav {
    color: #929191 !important;
}

.colorBotonNav:hover {
    color: #17529B !important;
}

.card-body {
    padding: 0 !important;
}


/*Index*/

#imgIndex {
    width: 100%;
}

.imgServicio {
    max-height: 100%;
    width: 50%;
}


.featured-services .icon-box {
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.4) !important;
}



/*Nosotros*/

#centerDiv {
    width: 80%;
}

.nosotros {
    position: relative;
    display: inline-block;
    text-align: center;
}

.nosotros h2 {
    font-size: 3rem;
}

.nosotros p {
    font-size: 1.6rem;
}

.nosotros-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

}


.mision-vision img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.mision-vision {
    position: relative;
    display: inline-block;
    text-align: center;
}


.mision-vision-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    vertical-align: text-top;

}

/*
.mision-vision-text h2{

    padding-bottom: 10%;
}*/

.mision-vision-text p {
    padding: 0% 13%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#politica-text p {
    padding: 0% 0%;
    margin-left: 400px;
    font-size: 250%;
}

@media (max-width: 576px) {
    #politica-text p {
        margin-left: 99px;
        font-size: 100%;
    }
}

/*#politica-text h2{
    text-align: center;

}*/


/*Servicios*/

.imgServicios {
    min-height: 150px;
    width: 100%;
}

.imgServiciosCovid {
    max-height: 400px;
    width: 100%;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

@media (max-width: 430px) {
    .navbar-brand {
        font-size: 1.2rem !important;
    }

    #sso {
        width: 65px;
        height: 45px;
    }

    .circulo {
        max-width: 90%;
        max-height: 90%;
        min-width: 80%;
        min-height: 80%;
    }

    .imgServicios {
        min-height: 150px;
        width: 70%;
    }

    .imgServiciosCovid {
        min-height: 150px;
        width: 70%;
    }

    #titulo-sso {
        display: none;
        visibility: hidden;
    }

    #titulo-sso-celular::before {
        content: " SSO - CRC ";
        visibility: visible;
    }

    .nosotros h2 {
        font-size: 1rem;
    }

    .nosotros p {
        font-size: .6rem;
    }

}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: .88rem !important;
        margin-right: .1rem !important;
    }

    #sso {
        width: 65px;
        height: 45px;
    }

    .navbar-toggler {
        padding: .2rem .7rem !important;
        font-size: .75rem !important;
    }

    .circulo {
        max-width: 90%;
        max-height: 90%;
        min-width: 80%;
        min-height: 80%;
    }

    .imgServicios {
        min-height: 150px;
        width: 70%;
    }

    .imgServiciosCovid {
        min-height: 150px;
        width: 70%;
    }

    .nosotros h2 {
        font-size: 1rem;
    }

    .nosotros p {
        font-size: .8rem;
    }

    .mision-vision-text p {
        padding: 0% 4%;
    }

    #titulo-sso {
        display: none;
        visibility: hidden;
    }

    #titulo-sso-celular::before {
        content: " SSO - CRC ";
        visibility: visible;
    }

}


/* Medium devices (tablets, 768px and up)*/

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.25rem !important;
    }

    .circulo {
        max-width: 90%;
        max-height: 90%;
        min-width: 80%;
        min-height: 80%;
    }

    .imgServicios {
        min-height: 150px;
        width: 50%;
    }

    .imgServiciosCovid {
        min-height: 150px;
        width: 70%;
    }


    .nosotros h2 {
        font-size: 1.04rem;
    }

    .nosotros p {
        font-size: .6rem;
    }


}

@media (min-width: 768px) {
    .navbar-brand {
        font-size: 1.25rem !important;
    }

    .circulo {
        max-width: 90%;
        max-height: 90%;
        min-width: 80%;
        min-height: 80%;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .navbar-brand {
        font-size: 1.3rem !important;
    }

    .circulo {
        max-width: 350px;
        max-height: 350px;
        min-width: 350px;
        min-height: 350px;
    }

    .modal-lg {
        max-width: 680px;
    }
}


@media (min-width: 1200px) {
    footer div.container {
        max-width: 1240px;
    }

}


.circulo {
    max-width: 310px;
    max-height: 310px;
    min-width: 310px;
    min-height: 310px;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}


/*PRUEBA PSICOLOGICA*/

#bodyPsi {
    padding-top: 56px;
    background-image: url("/img/servicios/psicologia/fondo.jpg");
    background-color: transparent;
    background-attachment: fixed;
    /*para que sea estático*/
    background-repeat: no-repeat;
    /*que no se repita el fondo*/
    background-size: cover;
}


/*SALUD VISUAL*/

#carousel-control-prevSV {
    right: 0 !important;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

#carousel-control-nextSV {
    left: 0 !important;
}

.SiteLock {
    width: 70px;
    position: fixed;
    top: 50px;
    right: 0;
    /**/
    top: 108%;
    height: 205px;
    margin-top: -100px;
    z-index: 100;
}

.SiteLock img {
    width: 70px;
    height: 50px;
    padding: 2px 0;
}

/*Modal*/

.modal-body {
    padding: 0rem !important;
}

.modal-header {
    padding: .5rem !important;
}


/*CONTACTO*/

.th {
    background-color: #00519d !important; 
    border-radius: 15px 15px 0px 0px; 
    margin: 10% 10% 0 0;
    color: white;
  }

  /*CRC*/

  .imgCRC {
    max-height: 500px;
}

.tituloExamCRC {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 40px;
    padding: 10px;
    min-width: 100px;
    color: var(--azul_sso);
}

.agendaCitaCRC {
    font-size: 1rem !important;
    font-weight: bold;
}

.h6CRC{
    font-size: 0.95rem !important;
    font-weight: bold;
}


.hrCRC {
    border: none;
    width: 95%;
    height: 50px;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px;
}   

/*PLAN ESTRATEGICO*/


.plus-list {
    list-style-type: none;
    /* Quita los marcadores predeterminados */
}

.plus-list li::before {
    content: "+";
    /* Define el signo "+" como el marcador */
    margin-right: 5px;
    /* Espacio entre el signo "+" y el texto */
    color:var(--azul_sso);
    font-weight: bold;
    font-size: 1.4em;
}

/*BARERIA*/
#imgBateria {
    position: relative;
    width: 100%;
    min-height: 1500px;
}

.plus-listBat {
    list-style-type: disc;
    /* Quita los marcadores predeterminados */
}

.plus-listBat ::before {
    /*contenlit: "✓";
    margin-right: 5px;
    color: var(--azul_sso);*/
    font-weight: bold;
    font-size: 1.4em;
}

#centerDivBat {
    width: 80%;
    position: absolute;
    top: 30%;
    left: 0;
    margin: 0 0 0 10%;
    border-top: 10px solid #17529B;
    border-radius: 5px;
    margin-bottom: 50px;
}

@media (max-width: 430px) {
    #centerDivBat {
        top: 7%;
    }
    #imgBateria {
        min-height: 2200px;
    }
}

@media (min-width: 430px) {
    #centerDivBat {
        top: 11%;
    }
    #imgBateria {
        min-height: 2000px;
    }
}

@media (min-width: 576px) {
    #centerDivBat {
        top: 13%;
    }
    #imgBateria {
        min-height: 2000px;
    }
}

@media (min-width: 768px) {
    #centerDivBat {
        top: 15%;
    }
    #imgBateria {
        min-height: 2100px;
    }
}


@media (min-width: 992px) {
    #centerDivBat {
        top: 32%;
    }
    #imgBateria {
        min-height: 1500px;
    }
}



/*APT*/

.plus-listAPT {
    list-style-type: none;
    /* Quita los marcadores predeterminados */
}

.plus-listAPT ::before {
    content: "✓";
    margin-right: 5px;
    color: var(--azul_sso);
    font-weight: bold;
    font-size: 1.4em;
}
