RewriteEngine On

# Si la petición no es un directorio real
RewriteCond %{REQUEST_FILENAME} !-d

# Si la petición no es un archivo real
RewriteCond %{REQUEST_FILENAME} !-f

# Redirigir de forma invisible añadiendo el .php al final
RewriteRule ^([^\.]+)$ $1.php [NC,L]