#centerDiv {
    margin-top:2%;
    margin-block-end:2%;
    width: 95%;
    border:3px solid #17529B;
    border-radius:22px;
    padding: 2% 0% 0% 0%;
}

.colorAzul {
    color: #17529B !important;
}

.circulo1 {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: #17529B;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
   
}

.circulo1>h2 {
    font-family: sans-serif;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

 .circulo {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #17529B;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

#border-footer{

    border-radius: 0px 0px 18px 18px;
    border:solid #17529B;

    background-color: #17529B;

}

@media screen and (max-width: 376px) {
    .header-main{
        height: initial;
    }
}

@media screen and (max-width: 430px) {
    
}

@media screen and (max-width: 576px) {
}

